<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.sandinosanchez.connectionpool.dao.IGenderDao">
    <resultMap id="GenderMap" autoMapping="false" type="Gender">
        <id property="id" column="id"/>
        <result property="name"/>
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[INSERT INTO Genders(name) VALUES (#{name})]]>
    </insert>
    <update id="updateById">
        <![CDATA[UPDATE Genders SET name = #{name} WHERE id = #{id}]]>
    </update>
    <delete id="deleteById">
        <![CDATA[DELETE FROM Genders WHERE id = #{id}]]>
    </delete>
    <sql id="getGenderTemplate">
        <![CDATA[SELECT id as id, name as name FROM Genders]]>
    </sql>
    <select id="getById">
        <include refid="getGenderTemplate"/>
        <![CDATA[WHERE id = #{id}]]>
    </select>
    <select id="getAll">
        <include refid="getGenderTemplate"/>
    </select>
</mapper>