<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <typeAliases>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.User" alias="User"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Gender" alias="Gender"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Comment" alias="Comment"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Follower" alias="Follower"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Photo" alias="Photo"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Post" alias="Post"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Message" alias="Message"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Tag" alias="Tag"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.Like" alias="Like"/>
        <typeAlias type="com.solvd.sandinosanchez.connectionpool.models.DirectMessage" alias="DirectMessage"/>
    </typeAliases>
        <environments default="development">
            <environment id="development">
                <transactionManager type="JDBC"/>
                <dataSource type="POOLED">
                    <property name="username" value="${jdbc.username}"/>
                    <property name="password" value="${jdbc.password}"/>
                    <property name="url" value="${jdbc.conn.url}"/>
                    <property name="driver" value="${driver}"/>
                </dataSource>
            </environment>
        </environments>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/GenderMapper.xml"/>
        <mapper resource="mappers/PhotoMapper.xml"/>
        <mapper resource="mappers/PostMapper.xml"/>
        <mapper resource="mappers/FollowerMapper.xml"/>
        <mapper resource="mappers/CommentMapper.xml"/>
    </mappers>
</configuration>