<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.sandinosanchez.connectionpool.dao.DirectMessageMapper">
    <sql id="getDirectMessageTemplate">
        <![CDATA[
            SELECT DM.ID AS DM_ID,
                   DM.RECEIVER_ID AS RECEIVER_USER_ID,
                   DM.SENDER_ID AS SENDER_USER_ID,
                   DM.DATE_CREATED AS DM_DATE_CREATED,
                   M.ID AS MESSAGE_ID,
                   M.MESSAGE AS MESSAGE,
                   M.DATE_CREATED AS MESSAGE_DATE_CREATED,
                   M.DIRECT_MESSAGE_ID AS MESSAGE_DM_ID
            FROM
                social_network.DIRECT_MESSAGES DM
            LEFT JOIN
                social_network.MESSAGES M
                    ON DM.ID = M.DIRECT_MESSAGE_ID
        ]]>
    </sql>

    <select id="getById" resultMap="UserMap">
        <include refid="getUserTemplate"/>
        <![CDATA[
            WHERE U.ID = #{id}
        ]]>
    </select>
    <select id="getByName" resultMap="UserMap">
        <include refid="getUserTemplate"/>
        <![CDATA[
            WHERE U.FIRST_NAME = #{firstName}
        ]]>
    </select>
    <select id="getAll" resultMap="UserMap">
        <include refid="getUserTemplate"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[INSERT INTO social_network.USERS (EMAIL, PASSWORD , FIRST_NAME,LAST_NAME, GENDER_ID)
                 VALUES (
                     #{firstName},
                     #{lastName},
                     #{email},
                     #{password},
                     #{gender_id}
                 )
        ]]>
    </insert>

    <update id="updateById">
        <![CDATA[UPDATE
                    social_network.USERS
        ]]>
        <set>
            <if test="firstName != null">
                <![CDATA[
                       FIRST_NAME = #{firstName},
                    ]]>
            </if>
            <if test="lastName != null">
                <![CDATA[
                       LAST_NAME = #{lastName},
                    ]]>
            </if>
            <if test="email != null">
                <![CDATA[
                       EMAIL = #{email},
                    ]]>
            </if>
            <if test="password != null">
                <![CDATA[
                       PASSWORD = #{password}
                    ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM social_network.USERS
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="UserMap" autoMapping="false" type="User">
        <id property="id" column="USER_ID"/>
        <result property="firstName" column="USER_FIRST_NAME"/>
        <result property="lastName" column="USER_LAST_NAME"/>
        <result property="email" column="USER_EMAIL"/>
        <association property="gender" resultMap="com.solvd.sandinosanchez.connectionpool.dao.GenderMapper.GenderMap"/>
        <collection property="posts" ofType="Post" resultMap="com.solvd.sandinosanchez.connectionpool.dao.PostMapper.PostMap" columnPrefix="POST_"/>
        <collection property="followers" ofType="Follower" resultMap="com.solvd.sandinosanchez.connectionpool.dao.FollowerMapper.FollowerMap" columnPrefix="FOLLOWER_"/>
        <collection property="directMessages" ofType="DirectMessage" resultMap="com.solvd.sandinosanchez.connectionpool.dao.DirectMessageMapper.DirectMessageMap" columnPrefix="DM_"/>
    </resultMap>
</mapper>