<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.sandinosanchez.connectionpool.dao.UserMapper">
    <sql id="getUserTemplate">
        <![CDATA[
            SELECT U.ID as USER_ID,
                   U.EMAIL as USER_EMAIL,
                   U.PASSWORD as USER_PASSWORD,
                   U.FIRST_NAME as USER_FIRST_NAME,
                   U.LAST_NAME as USER_LAST_NAME,
                   U.GENDER_ID AS GENDER_ID,
                   P.ID as POST_ID,
                   P.DATE_CREATED as POST_CREATED_AT,
                   P.DESCRIPTION as POST_DESCRIPTION
            FROM
                social_network.USERS U
            LEFT JOIN
                social_network.POSTS P
                    ON U.ID = P.USER_ID

        ]]>
    </sql>

    <select id="getById" resultMap="UserMap">
        <include refid="getUserTemplate"/>
        <![CDATA[
            WHERE U.ID = #{id}
        ]]>
    </select>
    <select id="getByName" resultMap="UserMap">
        <include refid="getUserTemplate"/>
        <![CDATA[
            WHERE U.FIRST_NAME = #{firstName}
        ]]>
    </select>
    <select id="getAll" resultMap="UserMap">
        <include refid="getUserTemplate"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[INSERT INTO social_network.USERS (EMAIL, PASSWORD , FIRST_NAME,LAST_NAME, GENDER_ID)
                 VALUES (
                     #{firstName},
                     #{lastName},
                     #{email},
                     #{password},
                     #{gender_id}
                 )
        ]]>
    </insert>

    <update id="updateById">
        <![CDATA[UPDATE
                    social_network.USERS
        ]]>
        <set>
            <if test="firstName != null">
                <![CDATA[
                       FIRST_NAME = #{firstName},
                    ]]>
            </if>
            <if test="lastName != null">
                <![CDATA[
                       LAST_NAME = #{lastName},
                    ]]>
            </if>
            <if test="email != null">
                <![CDATA[
                       EMAIL = #{email},
                    ]]>
            </if>
            <if test="password != null">
                <![CDATA[
                       PASSWORD = #{password}
                    ]]>
            </if>
        </set>
        <![CDATA[
            WHERE ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM social_network.USERS
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap id="UserMap" autoMapping="false" type="User">
        <id property="id" column="USER_ID"/>
        <result property="firstName" column="USER_FIRST_NAME"/>
        <result property="lastName" column="USER_LAST_NAME"/>
        <result property="email" column="USER_EMAIL"/>
        <association property="gender"
                     column="GENDER_ID"
                     javaType="Gender"
                     select="com.solvd.sandinosanchez.connectionpool.dao.GenderMapper.getById"/>
        <collection property="posts" ofType="Post" resultMap="com.solvd.sandinosanchez.connectionpool.dao.PostMapper.PostMap"/>
    </resultMap>
    <resultMap id="SimpleUserMap" autoMapping="false" type="User">
        <id property="id" column="USER_ID"/>
        <result property="firstName" column="USER_FIRST_NAME"/>
        <result property="lastName" column="USER_LAST_NAME"/>
        <result property="email" column="USER_EMAIL"/>
    </resultMap>
</mapper>